
<main role='banner'>
    <article id='webslide'>
        <section class='aligncenter slide bg-black'>
        <span class="background" style="background-image:url('https://images.unsplash.com/photo-1498898733745-c8c6df58e4ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80')"></span>
            <div class="wrap">
                <p class="text-subtitle">Creato per noi</p>
                <h1 class="text-landing text-shadow"><strong>I Nostri Ricordi</strong></h1>
                <p class="text-intro">Qui salveremo tutti i nostri ricordi migliori</p>
                <%= link_to "Registrati!", signup_path, :class => "button ghost" %>
                <%= link_to "Accedi!", login_path, :class => "button ghost" %>
            </div>
        </section>
    </article>
</main>
