<!DOCTYPE html>
<html>
  <head>
    <title>MemorieDiCoppia</title>
    <%= csrf_meta_tags %>
    <link href=".\app\assets\stylesheets\webslides.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src=".\app\assets\javascripts\webslides.min.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
